body {
    font-size: 30pt;
}

#container {
    margin: auto;
    width: 360pt;
    text-align: center;
}

#hanged {
    width: inherit;
}

.good-guess-letter {
    text-decoration: underline;
    display: inline-block;
    padding: 2px;
}
